* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #130F1B;
}

.navbar {
  display:flex;
  justify-content: space-between;
  background-color: #130F1B;
  align-items: center;
  font-family: 'Silkscreen', cursive;
  overflow: hidden;
}

.logo {
  margin-left: 2.2rem;
  width: 100px;
  height: auto;
  position: relative;
  top: 5px;
}

.navlinks ul {
  margin: 0;
  padding: 0;
  margin-right: 2rem;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-self: center;
}

.navlinks ul a {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1.7rem;
  color: white
}

.navlinks ul a:hover {
  /* color: rgb(63, 32, 177); */
  color: rgb(207, 162, 38);
}

